# Backend
HOST=0.0.0.0
PORT=8000
CORS_ALLOW_ORIGINS=*

# Frontend
FRONTEND_PORT=5173
BACKEND_OCR_URL=http://127.0.0.1:8000/ocr/url

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_UPLOAD_PRESET=your-unsigned-upload-preset
